@model IEnumerable<MyWebApp.Models.DEWsPictureModels>

@{
    ViewBag.Title = "DEWS 이모저모";
}

<h2>DEWS 이모저모</h2>

<p>
    @Html.ActionLink("사진등록", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Action("GetImage", "DEWsPicture", new { id = item.Seq })" />
        </td>
        
    </tr>
}

</table>
