@model IEnumerable<MyWebApp.Models.MemberInfo>
@{
    Layout = null;
}
@foreach (var item in Model) {
        
    <li>@Html.ActionLink(item.Name, "DETAIL", "Junior",new {id = item.Email }, new { })</li>
}