@{
    ViewBag.Title = "About";
}





<div class="site-wrapper content">

    <section id="s-paragraphs" class="">
        <div class="container">
            <div class="row shortcode-heading text-center">
                <!-- <div class="col-md-12 shortcode-title wow fadeIn">

                    <p class="subheading">Different line heights.</p>
                </div> -->
                <div class="col-sm-6 wow fadeIn animated" style="visibility: visible;">
                    <h2 class="section-title">Who We Are</h2>
                    <p class="p-info">DEWS 이슬청년부 공동체는 젊은 청년들이 매주 일요일 마다 모여 함께 예배하고 교제하는 도원동교회의 청년공동체 입니다</p>
                    <p> 나이</p>
                    <p> 1청년부: 20-26</p>
                    <p> 2청년부: 27 -</p>
                </div>
                <div class="col-md-6 shortcode-title">
                    <h3 class="section-title">Service Times</h3>
                    <p class="p-info text-center">일요일 | 1pm</p>
                    <p class="p-info text-center">자세한 문의사항은 02-712-6021 로 연락바랍니다.</p>
                    
                </div>
                <!--  <div class="col-sm-12">

                 </div> -->
                <!-- <div class="col-md-12 shortcode-title">
                    <h3 class="section-title">Intramurals - Flag Football</h3>
                </div> -->
                <!-- <div class="col-sm-12"> -->
                <!-- <p class="p-info text-center">Tuesday | 8pm</p> -->
                <!-- <p class="p-info text-center">For more info call the IIID Office at 918.491.7808 or <a href="mailto:3D@victory.com">email us</a>.</p> -->
                <!-- <a href="https://victory.formstack.com/forms/iiid_intramurals" target="_blank"><button type="button" class="btn btn-primary btn-sm btnspacing">Sign Up Now</button></a>  -->
                <!-- </div> -->
            </div>
        </div>
    </section>

    <section id="about" class="td-1 parallax">
        <div class="container spacing">
        </div>
    </section>

    <section class="">
        <div class="container">
            <div class="row shortcode-heading">
                <div class="col-md-4">
                    <div class="img">
                        <img src="../../assets/img/ministries/3d/kresge.jpg">
                    </div>
                </div>
                <div class="col-md-8 text-left about-text">
                    <h2 class="content-title wow animated" style="visibility: visible;">Pastors Mark &amp; Natalie Kresge</h2>
                    <p>Mark Kresge, along with his wife Natalie, currently serve as the young adult Pastors for IIID of Victory. Mark and Natalie are both graduates of Victory Bible College. Mark’s Bible college focus was Practical Ministry Training while Natalie's was School of Worship.</p>
                    <p>Mark's preaching style has often been described as practical, yet inspirational. His messages are tailored to address the needs of young adults. Mark and Natalie are passionate about reaching out to this generation and equipping them to fulfill God's purpose for their lives through discipleship and serving.</p>
                    <p>They are uniquely prepared to encourage people to encounter God in a deeper way. Together they minister through podcasts, outreaches, and also lead short term mission trips every year.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- <section id="staff">
            <div class="container">
                <div class="col-md-12 text-center">
                    <h3 class="section-title shortcode-title">Our Staff</h3>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div>
                            <div class="img">
                                <img src="../../assets/img/team-3.jpg" class="img-responsive" alt="" />
                            </div>
                            <div class="">
                                <h4>KRISTIAN KELLY</h4>
                                <h5 class="smallSub">Administrative</h5>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-sm-4">
                        <div>
                            <div class="img">
                                <img src="../../assets/img/team-3.jpg" class="img-responsive" alt="" />
                            </div>
                            <div class="">
                                <h4>ASHLEY SANDERSON</h4>
                                <h5 class="smallSub">Administrative Assistant</h5>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
    <section id="about" class="td-2 parallax">
        <div class="container spacing"> </div>
    </section>

    <section id="s-paragraphs" class="">
        <div class="container">
            <div class="row shortcode-heading text-center">
                <div class="col-md-12 shortcode-title wow fadeIn animated" style="visibility: visible;">
                    <h3 class="section-title">Serve</h3>
                </div>
                <div class="col-sm-12 wow fadeIn animated" style="visibility: visible;">
                    <p class="p-info">At IIID we want our volunteers to be serving in areas of their giftings, and grow into who God has made them to be. There are many areas that you can serve here at IIID. Different areas include greeting, hosting, hospitality, welcome team, worship, connect groups, and much more. We meet every Tuesday at 7pm in the cafe.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="s-paragraphs" class="">
        <div class="container">

            <div class="row">

                <div class="col-sm-6">
                    <div class="blog-post">
                        <img class="img-responsive blog-img" src="../../assets/img/ministries/3d/3d-give.jpg" alt="">
                        <h4 class="uppercase">3D Give</h4>
                        <p>Stay up to date with IIID Give events on our social media </p>
                    </div><a href="http://instagram.com/3dtulsa" target="_blank">
                    </a>
                </div><a href="http://instagram.com/3dtulsa" target="_blank">

                    <div class="col-sm-6">
                        <div class="blog-post">
                            <img class="img-responsive blog-img" src="../../assets/img/ministries/3d/3d-pulse.jpg" alt="">
                            <h4 class="uppercase">3D Pulse</h4>
                            <p>IIID Pulse is a night to evangelize and focus on the heartbeat of God:people. This group meets every other Friday night at 8pm in VBC Room 109.  Check 3D Tulsa Facebook for meeting dates.</p><p>
                            </p>
                        </div>
                    </div>

                </a>
            </div><!-- End Row --><a href="http://instagram.com/3dtulsa" target="_blank">

            </a>
        </div><a href="http://instagram.com/3dtulsa" target="_blank">
        </a>
    </section><a href="http://instagram.com/3dtulsa" target="_blank">


        <!-- Start Footer 1 -->
        <!-- Start Footer 1 -->
    </a>
    <!-- End Footer 1 -->            <!-- End Footer 1 -->
    <!-- Start Back To Top -->
    <a id="back-to-top" style="bottom: -50px;"><i class="icon ion-chevron-up"></i></a>
    <!-- End Back To Top -->

</div>




