@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>  
</div>
<div class="panel panel-success">...</div>
<div class="panel panel-info">...</div>
<div class="panel panel-warning">...</div>
<div class="panel panel-danger">...</div>

<div class="row">
    <div class="col-xs-12 bottom-images">
        <a class="profile wide-img snap"  data-bottom-top="@@class:profile wide-img nosnap;" data-90p-top="@@class:profile wide-img snap;">
            <img src="~/Content/Logo/imagesCAH5X2QO.jpg" >
            <span class="name">Worship</span>
        </a>
        <a class="profile wide-img snap-delay"  data-bottom-top="@@class:profile wide-img nosnap;" data-90p-top="@@class:profile wide-img snap-delay;">
            <img src="~/Content/Logo/TradersPointChurch_Team_1.jpg" >
            <span class="name">Discipleship</span>
        </a>
    </div>
</div>